# Ignorar todo por defecto y whitelistear lo que se versiona
*
!.gitignore
!.gitmodules
!README.md
!starship.toml

!nvim/
!nvim/**

!herdr/
!herdr/config.toml

# Submódulos (repos propios)
!sketchybar
!aerospace

!ghostty/
!ghostty/config

!kitty/
!kitty/kitty.conf

!karabiner/
!karabiner/karabiner.json

!zed/
!zed/settings.json
!zed/keymap.json
!zed/themes/
!zed/themes/**

!btop/
!btop/**

!git/
!git/ignore

.DS_Store
